.contentWrapper {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.recommendationWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .content {
        gap: var(--space-xl);
    }

    .recommendationWrapper {
        display: flex;
        flex-direction: row;
        gap: var(--space-md);
    }

}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .contentWrapper {
        background-size: contain;
    }

    .content {
        gap: var(--space-md);
    }

    .recommendationWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }
}

/*xs*/
@media (max-width: 767px) {
    .contentWrapper {
        background-size: cover;
    }

    .content {
        gap: var(--space-sm);
    }

    .recommendationWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }
}