.wrapper {
    border-radius: var(--border-radius);
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--base-transition);
}

.primary {
    background-color: white;
    color: var(--primary1000);
}

.secondary {
    background-color: var(--primary800);
    color: white;
}

.wrapper.primary:hover {
    background-color: var(--primary1000);
    color: white;
    transition: var(--base-transition);
}

.wrapper.primary:active,
.wrapper.primary:focus {
    background-color: var(--transparent);
    color: white;
    outline: 1px solid white;
    transition: var(--base-transition);
}

.wrapper.secondary:hover {
    background-color: var(--primary500);
    color: white;
    transition: var(--base-transition);
}

.wrapper.secondary:active,
.wrapper.secondary:focus {
    background-color: var(--transparent);
    color: var(--primary1000);
    outline: 1px solid var(--primary1000);
    transition: var(--base-transition);
}

.buttonText {
    margin: var(--space-md) var(--space-lg);
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .buttonText {
        margin: var(--space-sm) var(--space-md);
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .buttonText {
        margin: var(--space-xs) var(--space-sm);
    }
}

/*xs*/
@media (max-width: 767px) {
    .buttonText {
        margin: var(--space-xs) var(--space-xs);
    }
}