.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--primary1000);
    gap: var(--space-sm);
}

.priceWrapper {
    width: 100%;
    display: flex;
    gap: var(--space-xxl);
    color: var(--primary1000);
    justify-content: space-between;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

.nameWrapper {
    display: flex;
    gap: var(--space-sm);
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .nameWrapper {
        gap: var(--space-xs);
    }
}

/*xs*/
@media (max-width: 767px) {
    .wrapper {
        gap: var(--space-xxs);
    }

    .nameWrapper {
        gap: var(--space-xxs);
    }

    .priceWrapper {
        gap: var(--space-xs);
    }
}