.contentWrapper {
    background-image: url('../../../../public/backgroundBlue.png');
    background-size: cover;
    min-height: 1030px;
}

.transparentBlockWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xxl);
    width: 100%;
}

.imageWrapper {
    width: 755px;
    height: 778px;
}

.textBlockWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--space-xxl);
}

.textBlockWrapper {
    opacity: 0;
    animation: ani var(--long-transition) forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.textWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--space-sm);
    color: white;
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .contentWrapper {
        min-height: 800px;
    }

    .imageWrapper {
        width: 572px;
        height: 597px;
    }

    .textBlockWrapper {
        width: 100%;
        gap: var(--space-xl);
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .contentWrapper {
        background-size: cover;
        min-height: 620px;
    }

    .imageWrapper {
        width: 407px;
        height: 425px;
    }

    .textBlockWrapper {
        width: 100%;
        gap: var(--space-lg);
        margin-left: var(--negative-space-xl);
    }

    .textWrapper {
        gap: var(--space-xs);
    }

    .transparentBlockWrapper {
        gap: var(--space-xxxxs);
    }
}

/*xs*/
@media (max-width: 767px)  {
    .contentWrapper {
        background-size: cover;
        min-height: 500px;
        height: 100vh;
    }

    .imageWrapper {
        display: none;
    }

    .textWrapper {
        gap: var(--space-xs);
    }

    .textBlockWrapper {
        width: 100%;
        gap: var(--space-md);
    }

    .transparentBlockWrapper {
        align-items: center;
        justify-content: center;
        padding: var(--space-lg) var(--space-md);
        min-height: calc(100vh - 280px);
        width: calc(100vw - 100px);
    }
}