.select {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
}

.select:focus {
    outline: none;
}

.scrollAreaViewport {
    height: 100%;
    padding: var(--space-xs);
    margin-top: var(--space-xs);
    background-color: white;
    color: var(--primary1000);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

.itemWrapper:hover,
.itemWrapper:active,
.itemWrapper:focus {
    outline: none;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xxs);
    cursor: pointer;
}

.arrow {
    margin-top: var(--space-xxs);
    transition: 0.3s ease-out;
}

.select[aria-expanded="true"] .arrow {
    transform: rotate(180deg);
    transition: 0.3s ease-out;
}

[lang="ru"] .icon,
[lang="es"] .icon {
    margin-top: var(--space-xxxs);
}

[lang="ua"] .icon {
    margin-top: var(--space-xxxxs);
}

[lang="ru"] .label,
[lang="es"] .label {
    line-height: 80%;
}

[lang="ru"] .arrow,
[lang="es"] .arrow {
    margin-top: 8px;
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    [lang="ru"] .arrow,
    [lang="es"] .arrow {
        margin-top: 7px;
    }

    [lang="ua"] .arrow {
        margin-top: 6px;
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .select {
        gap: var(--space-xxxs);
    }

    .item img {
        width: 13px;
        height: 13px;
    }

    [lang="ru"] .arrow,
    [lang="es"] .arrow {
        margin-top: 5px;
    }

    [lang="ua"] .arrow {
        margin-top: 5px;
    }

    [lang="ru"] .icon,
    [lang="es"] .icon {
        margin-top: 3px;
    }

    [lang="ua"] .icon {
        margin-top: 1px;
    }
}

/*xs*/
@media (max-width: 767px) {
    .select {
        gap: var(--space-xxxxs);
    }

    .item img {
        width: 12px;
        height: 12px;
    }

    [lang="ru"] .arrow,
    [lang="es"] .arrow {
        margin-top: 5px;
    }


    [lang="ua"] .arrow {
        margin-top: 4px;
    }


    [lang="ru"] .icon,
    [lang="es"] .icon {
        margin-top: 2px;
    }

    [lang="ua"] .icon {
        margin-top: 1px;
    }
}
