.contentWrapper {
    padding-top: unset;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: flex-start;
}

.marbleContentWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: var(--space-sm);
    padding-bottom: var(--space-xl);
}

.marbleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xxl);
}

.inputSearchWrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.inputSearch {
    position: relative;
    display: inline-block;
}

.inputSearch input {
    outline: unset;
    width: 470px;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary1000);
    color: var(--primary1000);
    background: transparent;
    padding: var(--space-md) var(--space-xl) var(--space-md) var(--space-xs);
}

.inputSearch input::placeholder {
    color: var(--primary500);
}

.inputIcon {
    position: absolute;
    right: var(--space-xs);
    width: var(--space-md);
    height: var(--space-md);
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary1000);
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .marbleContentWrapper {
        padding-top: var(--space-sm);
        padding-bottom: var(--space-lg);
    }

    .marbleContent {
        gap: var(--space-xl);
    }

    .inputSearch input {
        width: 420px;
        padding: var(--space-sm) var(--space-xl) var(--space-sm) var(--space-xs);
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .contentWrapper {
        background-size: cover;
    }

    .marbleContentWrapper {
        padding-top: var(--space-sm);
        padding-bottom: var(--space-lg);
    }

    .marbleContent {
        gap: var(--space-lg);
    }

    .inputSearchWrapper {
        justify-content: center;
    }

    .inputSearch input {
        width: 320px;
        padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-xs);
    }

    .inputIcon {
        right: var(--space-xs);
        width: var(--space-sm);
        height: var(--space-sm);
    }
}

/*xs*/
@media (max-width: 767px)  {
    .contentWrapper {
        background-size: cover;
    }

    .marbleContentWrapper {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-sm);
    }

    .marbleContent {
        gap: var(--space-sm);
    }

    .inputSearchWrapper {
        justify-content: center;
    }

    .inputSearch input {
        width: 236px;
        padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-xs);
    }

    .inputIcon {
        right: var(--space-xs);
        width: var(--space-sm);
        height: var(--space-sm);
    }
}