.contentWrapper {
    padding-top: unset;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: flex-start;
}

.marbleContentWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: var(--space-xxl);
    padding-bottom: var(--space-xxl);
}

.marbleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xxl);
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .marbleContent {
        gap: var(--space-xl);
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .contentWrapper {
        background-size: cover;
    }

    .marbleContent {
        gap: var(--space-lg);
    }
}

/*xs*/
@media (max-width: 767px)  {
    .contentWrapper {
        background-size: cover;
    }

    .marbleContentWrapper {
    }

    .marbleContent {
        gap: var(--space-sm);
    }
}