.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    padding: var(--space-xl);
    backdrop-filter: blur(20px) brightness(97%);
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textOverflow {
    height: 192px;
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .cardWrapper {
        gap: var(--space-lg);
        padding: var(--space-lg);
    }

    .textOverflow {
        height: 180px;
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .cardWrapper {
        gap: var(--space-md);
        padding: var(--space-md);
    }

    .textOverflow {
        height: 180px;
    }
}

/*xs*/
@media (max-width: 767px)  {
    .cardWrapper {
        gap: var(--space-xxs);
        padding: var(--space-xxs);
    }

    .textOverflow {
        height: 162px;
    }

    .buttonWrapper {
        align-items: flex-start;
        flex-direction: column;
        gap: var(--space-xs);
    }

    /* button */
    .buttonWrapper a,
    .buttonWrapper  div {
        width: 100%;
    }
}