.collapseWrapper {
    background: var(--transparent);
    border-radius: var(--border-radius);
}

.collapseIcon {
    transition: var(--base-transition) ease-out;
}

.trigger {
    background: transparent;
    outline: unset;
    border: unset;
    border-radius: var(--border-radius);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary1000);
    padding: var(--space-md) var(--space-xl);
    margin: unset;
    cursor: pointer;
}

.trigger[aria-expanded="true"] .collapseIcon,
.smallTrigger[aria-expanded="true"] .collapseIcon {
    transform: rotate(180deg);
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    overflow: hidden;
}

/*.contentWrapper[data-state='open'] {*/
/*    animation: slideDown 300ms ease-out;*/
/*}*/

/*.contentWrapper[data-state='closed'] {*/
/*    animation: slideUp 300ms ease-out;*/
/*}*/

/*@keyframes slideDown {*/
/*    from {*/
/*        height: 0;*/
/*    }*/
/*    to {*/
/*        height: var(--radix-accordion-content-height);*/
/*    }*/
/*}*/

/*@keyframes slideUp {*/
/*    from {*/
/*        height: var(--radix-accordion-content-height);*/
/*    }*/
/*    to {*/
/*        height: 0;*/
/*    }*/
/*}*/

.contentWrapper[data-state="open"] {
    padding: 0 var(--space-xl) var(--space-md) var(--space-xl);
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--primary1000);
}

.smallCollapseWrapper {
    background: var(--primary200);
    border-radius: var(--border-radius);
}

.smallTrigger {
    background: var(--primary200);
    outline: unset;
    border: unset;
    border-radius: var(--border-radius);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary1000);
    padding: var(--space-xs) var(--space-md);
    margin: unset;
    cursor: pointer;
}

.priceWrapper {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
}

.smallContentWrapper[data-state="open"] {
    /*padding: 0 var(--space-md) var(--space-xs) var(--space-md);*/
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .contentWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
    }

    .contentWrapper[data-state="open"] {
        padding: 0 var(--space-sm) var(--space-sm) var(--space-sm);
    }

    .trigger {
        padding: var(--space-sm) var(--space-sm);
    }

    .smallTrigger {
        padding: var(--space-xs) var(--space-xs);
    }

    .smallContentWrapper[data-state="open"] {
        padding: 0 var(--space-xs) var(--space-xs) var(--space-xs);
    }
}

/*xs*/
@media (max-width: 767px) {
    .contentWrapper {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
    }

    .contentWrapper[data-state="open"] {
        padding: 0 var(--space-xxs) var(--space-xxs) var(--space-xxs);
    }

    .trigger {
        text-align: start;
        padding: var(--space-xxs) var(--space-xxs);
        min-height: 61px;
    }

    .trigger span span {
        display: block;
        font-size: var(--font-size-xxxs);
        letter-spacing: 1px !important;
    }

    .smallTrigger {
        text-align: start;
        padding: var(--space-xxs) var(--space-xxs);
    }

    .smallContentWrapper[data-state="open"] {
        padding: 0 var(--space-xxs) var(--space-xxs) var(--space-xxs);
    }
}
