.collapseWrapper {
    background: var(--transparent);
    border-radius: var(--border-radius);
}

.collapseIcon {
    transition: var(--base-transition)  ease-out;
}

.trigger {
    background: transparent;
    outline: unset;
    border: unset;
    border-radius: var(--border-radius);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary1000);
    padding: var(--space-md) var(--space-xl);
    margin: unset;
    transition: var(--base-transition) ease-out;
}

.trigger[aria-expanded="true"] .collapseIcon,
.smallTrigger[aria-expanded="true"] .collapseIcon {
    transform: rotate(180deg);
    transition: var(--base-transition)  ease-out;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.contentWrapper[data-state="open"] {
    padding: 0 var(--space-xl) var(--space-md) var(--space-xl);
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--primary1000);
}

.smallCollapseWrapper {
    background: var(--primary200);
    border-radius: var(--border-radius);
}

.smallTrigger {
    background: var(--primary200);
    outline: unset;
    border: unset;
    border-radius: var(--border-radius);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary1000);
    padding: var(--space-xs) var(--space-md);
    margin: unset;
    transition: var(--base-transition) ease-out;
}

.priceWrapper {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
}

.smallContentWrapper[data-state="open"] {
    padding: 0 var(--space-md) var(--space-xs) var(--space-md);
}