.contentWrapper {
    padding-top: unset;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100svh;
    justify-content: flex-start;
}

.marbleContentWrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: var(--space-xxl);
    padding-bottom: var(--space-xxl);
}

.marbleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xxl);
}

.transparentWrapper {
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    border-radius: var(--border-radius);
    gap: var(--space-xl);
    backdrop-filter: blur(20px) brightness(97%);
}

.QRwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
}

.QR {
    width: 400px;
    height: 400px;
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .marbleContentWrapper {
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
    }

    .marbleContent {
        gap: var(--space-xl);
    }

    .QRwrapper {
        gap: var(--space-lg);
    }

    .transparentWrapper {
        padding: var(--space-lg);
        gap: var(--space-lg);
    }

    .QR {
        width: 350px;
        height: 350px;
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .marbleContentWrapper {
        padding-top: var(--space-lg);
        padding-bottom: var(--space-lg);
    }

    .marbleContent {
        gap: var(--space-lg);
    }

    .transparentWrapper {
        padding: var(--space-md);
        gap: var(--space-md);
    }

    .QRwrapper {
        gap: var(--space-md);
    }

    .QR {
        width: 250px;
        height: 250px;
    }
}

/*xs*/
@media (max-width: 767px) {
    .marbleContentWrapper {
        padding-top: var(--space-sm);
        padding-bottom: var(--space-sm);
    }

    .marbleContent {
        gap: var(--space-sm);
        width: unset;
    }

    .transparentWrapper {
        padding: var(--space-xxs);
        gap: var(--space-xs);
    }

    .QRwrapper {
        gap: var(--space-xs);
    }

    .QR {
        width: 200px;
        height: 200px;
    }
}