:root {
  --space-xxxl: 96px;
  --space-xxl: 72px;
  --space-xl: 64px;
  --space-lg: 48px;
  --space-md: 32px;
  --space-sm: 24px;
  --space-xs: 16px;
  --space-xxs: 8px;
  --space-xxxs: 4px;
  --space-xxxxs: 2px;

  --negative-space-xl: -64px;
  --negative-space-lg: -48px;
  --negative-space-md: -32px;

  --font-size-xxl: 48px;
  --font-size-xl: 32px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-sm: 18px;
  --font-size-xs: 16px;
  --font-size-xxs: 14px;
  --font-size-xxxs: 12px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-italic: 400;

  --primary1000: #23465E;
  --primary800: #436983;
  --primary500: #7392A8;
  --primary300: #96ADBB;
  --primary200: #A2B6C2;

  --secondary100: #FAF9F9;
  --secondary400: #867F77;

  --transparent: #D9D9D91A;

  --border-radius: 10px;

  --base-transition: 0.5s;
  --long-transition: 2s;
}

body, h1, h2, h3 {
  margin: 0;
  cursor: default;
}

body {
  overflow-x: hidden;
}

.backgroundBlue {
  background-image: url('../../public/backgroundBlue.webp');
}

.backgroundMarble {
  background-image: url('../../public/backgroundMarble.webp');
}

.backgroundTransparent {
  background: transparent;
}

.text-color-primary1000 {
  color: var(--primary1000);
}

.text-color-secondary400 {
  color: var(--secondary400);
}

.text-align-center {
  text-align: center;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 6;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.box-shadow {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.08);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.08);
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: var(--space-xxl);
}

.content {
  max-width: 1650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
}

.buttonWrapper > span {
  color: var(--primary1000);
  text-align: center;
}

.imageWrapper {
  width: 620px;
  border: 1px solid var(--primary1000);
  height: auto;
}

a {
  text-decoration: none;
}

a.link {
  color: var(--primary1000);
  transition: 0.1s;
}

a.link:hover {
  transition: 0.1s;
  text-decoration: underline;
  font-weight: var(--font-weight-regular);
}

.header-lg,
.header-md,
.header-sm {
  font-family: var(--font-raleway);
  font-weight: var(--font-weight-regular);
  line-height: 125%;
  letter-spacing: 2px;
}

.header-lg {
  font-size: var(--font-size-xxl);
}

.header-md {
  font-size: var(--font-size-xl);
}

.header-sm {
  font-size: var(--font-size-lg);
}

body[lang="ru"] .body-lg-l,
body[lang="ru"] .body-md-l,
body[lang="ru"] .body-sm-l,
body[lang="ru"] .body-xs-l,
body[lang="ru"] .body-lg-r,
body[lang="ru"] .body-md-r,
body[lang="ru"] .body-sm-r,
body[lang="ru"] .body-xs-r,
body[lang="ru"] .body-lg-i,
body[lang="ru"] .body-md-i,
body[lang="ru"] .body-sm-i,
body[lang="ru"] .body-xs-i,

body[lang="es"] .body-lg-l,
body[lang="es"] .body-md-l,
body[lang="es"] .body-sm-l,
body[lang="es"] .body-xs-l,
body[lang="es"] .body-lg-r,
body[lang="es"] .body-md-r,
body[lang="es"] .body-sm-r,
body[lang="es"] .body-xs-r,
body[lang="es"] .body-lg-i,
body[lang="es"] .body-md-i,
body[lang="es"] .body-sm-i,
body[lang="es"] .body-xs-i {
  font-family: var(--font-jost);
  line-height: 150%;
  letter-spacing: 1px;
}

.body-lg-l,
.body-md-l,
.body-sm-l,
.body-xs-l {
  font-weight: var(--font-weight-light);
}

.body-lg-r,
.body-md-r,
.body-sm-r,
.body-xs-r {
  font-weight: var(--font-weight-regular);
}

.body-lg-i,
.body-md-i,
.body-sm-i,
.body-xs-i {
  font-weight: var(--font-weight-italic);
  font-style: italic;
}

.body-lg-l,
.body-lg-r,
.body-lg-i {
  font-size: var(--font-size-xl);
}

.body-md-l,
.body-md-r,
.body-md-i {
  font-size: var(--font-size-lg);
}

.body-sm-l,
.body-sm-r,
.body-sm-i {
  font-size: var(--font-size-md);
}

body[lang="ua"] .body-lg-l,
body[lang="ua"] .body-md-l,
body[lang="ua"] .body-sm-l,
body[lang="ua"] .body-xs-l,

body[lang="ua"] .body-lg-i,
body[lang="ua"] .body-md-i,
body[lang="ua"] .body-sm-i,
body[lang="ua"] .body-xs-i,

body[lang="ua"] .body-lg-r,
body[lang="ua"] .body-md-r,
body[lang="ua"] .body-sm-r,
body[lang="ua"] .body-xs-r {
  font-family: var(--font-roboto);
  line-height: 150%;
}

.label-lg,
.label-md,
.label-sm {
  font-family: var(--font-jost);
  font-weight: var(--font-weight-light);
  line-height: 120%;
  letter-spacing: 2px;
}

.label-lg {
  font-size: var(--font-size-xl);
}

.label-md {
  font-size: var(--font-size-lg);
}

.label-sm {
  font-size: var(--font-size-xs);
}

body[lang="ua"] .label-lg,
body[lang="ua"] .label-md,
body[lang="ua"] .label-sm {
  font-family: var(--font-roboto);
}

.transparent-wrapper {
  background-color: var(--transparent);
  border-radius: var(--border-radius);
}

.ellipse {
  border-radius: 50%;
  background-color: var(--primary1000);
  object-fit: contain;
  max-width: 100%;
  position: absolute;
  z-index: -200;
  filter: blur(120px);
}


/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
  .content-wrapper {
    padding-top: var(--space-xl);
  }

  .content {
    max-width: 1200px;
  }

  .imageWrapper {
    width: 480px;
  }

  .buttonWrapper {
    gap: var(--space-sm);
  }

  .header-lg {
    font-size: var(--font-size-xl);
  }

  .header-md {
    font-size: var(--font-size-lg);
  }

  .header-sm {
    font-size: var(--font-size-md);
  }

  .body-lg-l,
  .body-lg-r,
  .body-lg-i {
    font-size: var(--font-size-lg);
  }

  .body-md-l,
  .body-md-r,
  .body-md-i {
    font-size: var(--font-size-sm);
  }

  .body-sm-l,
  .body-sm-r,
  .body-sm-i {
    font-size: var(--font-size-xxs);
  }

  .label-lg {
    font-size: var(--font-size-lg);
  }

  .label-md {
    font-size: var(--font-size-md);
  }

  .label-sm {
    font-size: var(--font-size-xxs);
  }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
  .content-wrapper {
    padding-top: var(--space-lg);
  }

  .content {
    max-width: 740px;
  }

  .buttonWrapper {
    gap: var(--space-xs);
  }

  .imageWrapper {
    width: 400px;
  }

  .header-lg {
    font-size: var(--font-size-lg);
  }

  .header-md {
    font-size: var(--font-size-md);
  }

  .header-sm {
    font-size: var(--font-size-sm);
  }

  .body-lg-l,
  .body-lg-r,
  .body-lg-i {
    font-size: var(--font-size-md);
    letter-spacing: 1px !important;
  }

  .body-md-l,
  .body-md-r,
  .body-md-i {
    font-size: var(--font-size-xs);
    letter-spacing: 1px !important;
  }

  .body-sm-l,
  .body-sm-r,
  .body-sm-i {
    font-size: var(--font-size-xxs);
    letter-spacing: 1px !important;
  }

  .label-lg {
    font-size: var(--font-size-md);
    letter-spacing: 1px !important;
  }

  .label-md {
    font-size: var(--font-size-sm);
    letter-spacing: 1px !important;
  }

  .label-sm {
    font-size: var(--font-size-xxxs);
    letter-spacing: 1px !important;
  }
}

/*xs*/
@media (max-width: 767px) {
  .content-wrapper {
    padding-top: var(--space-md);
  }

  .content {
    margin: 0 var(--space-sm);
    max-width: unset;
    min-width: 300px;
  }

  .buttonWrapper {
    gap: var(--space-xs);
  }

  .imageWrapper {
    width: 200px;
  }

  .header-lg {
    font-size: var(--font-size-md);
  }

  .header-md {
    font-size: var(--font-size-sm);
  }

  .header-sm {
    font-size: var(--font-size-xs);
  }

  .body-lg-l,
  .body-lg-r,
  .body-lg-i {
    font-size: var(--font-size-sm);
    letter-spacing: 1px !important;
  }

  .body-md-l,
  .body-md-r,
  .body-md-i {
    font-size: var(--font-size-xxs);
    letter-spacing: 1px !important;
  }

  .body-sm-l,
  .body-sm-r,
  .body-sm-i {
    font-size: var(--font-size-xxxs);
    letter-spacing: 1px !important;
  }

  .label-lg {
    font-size: var(--font-size-sm);
    letter-spacing: 1px !important;
  }

  .label-md {
    font-size: var(--font-size-xs);
    letter-spacing: 1px !important;
  }

  .label-sm {
    font-size: var(--font-size-xxxs);
    letter-spacing: 1px !important;
  }

  .ellipse {
    filter: blur(50px);
  }
}
