:root {
  --space-xxxl: 96px;
  --space-xxl: 72px;
  --space-xl: 64px;
  --space-lg: 48px;
  --space-md: 32px;
  --space-sm: 24px;
  --space-xs: 16px;
  --space-xxs: 8px;
  --space-xxxs: 4px;
  --space-xxxxs: 2px;

  --font-size-xxl: 48px;
  --font-size-xl: 32px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-sm: 18px;
  --font-size-xs: 16px;
  --font-size-xxs: 14px;
  --font-size-xxxs: 12px;

  --font-weight-light: 200;
  --font-weight-regular: 300;

  --primary1000: #23465E;
  --primary800: #436983;
  --primary500: #7392A8;
  --primary300: #96ADBB;
  --primary200: #A2B6C2;

  --secondary100: #FAF9F9;
  --secondary400: #867F77;

  --transparent: #D9D9D91A;


  --border-radius: 10px;
  --arrow-margin: 10px;

  --base-transition: 0.5s;
  --long-transition: 1s;
}

body, h1 {
  margin: 0;
}

.content-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-lg,
.header-md,
.header-sm {
  font-family: var(--font-raleway);
  font-weight: var(--font-weight-regular);
  line-height: 125%;
  letter-spacing: 2px;
}

.header-lg {
  font-size: var(--font-size-xxl);
}

.header-md {
  font-size: var(--font-size-xl);
}

.header-sm {
  font-size: var(--font-size-lg);
}

body[lang="ru"] .body-lg-l,
body[lang="ru"] .body-md-l,
body[lang="ru"] .body-sm-l,
body[lang="ru"] .body-xs-l,
body[lang="ru"] .body-lg-r,
body[lang="ru"] .body-md-r,
body[lang="ru"] .body-sm-r,
body[lang="ru"] .body-xs-r,
body[lang="ru"] .body-lg-i,
body[lang="ru"] .body-md-i,
body[lang="ru"] .body-sm-i,
body[lang="ru"] .body-xs-i,

body[lang="es"] .body-lg-l,
body[lang="es"] .body-md-l,
body[lang="es"] .body-sm-l,
body[lang="es"] .body-xs-l,
body[lang="es"] .body-lg-r,
body[lang="es"] .body-md-r,
body[lang="es"] .body-sm-r,
body[lang="es"] .body-xs-r,
body[lang="es"] .body-lg-i,
body[lang="es"] .body-md-i,
body[lang="es"] .body-sm-i,
body[lang="es"] .body-xs-i {
  font-family: var(--font-jost);
  line-height: 150%;
  letter-spacing: 2px;
}

.body-lg-l,
.body-md-l,
.body-sm-l,
.body-xs-l {
  font-weight: var(--font-weight-light);
}

.body-lg-r,
.body-md-r,
.body-sm-r,
.body-xs-r {
  font-weight: var(--font-weight-regular);
}

.body-lg-i,
.body-md-i,
.body-sm-i,
.body-xs-i {
  font-style: italic;
}

.body-lg-l,
.body-lg-r,
.body-lg-i {
  font-size: var(--font-size-xl);
}

.body-md-l,
.body-md-r,
.body-md-i {
  font-size: var(--font-size-lg);
}

.body-sm-l,
.body-sm-r,
.body-sm-i {
  font-size: var(--font-size-md);
}

body[lang="ua"] .body-lg-l,
body[lang="ua"] .body-md-l,
body[lang="ua"] .body-sm-l,
body[lang="ua"] .body-xs-l,

body[lang="ua"] .body-lg-i,
body[lang="ua"] .body-md-i,
body[lang="ua"] .body-sm-i,
body[lang="ua"] .body-xs-i,

body[lang="ua"] .body-lg-r,
body[lang="ua"] .body-md-r,
body[lang="ua"] .body-sm-r,
body[lang="ua"] .body-xs-r {
  font-family: var(--font-roboto);
}

.label-lg,
.label-md,
.label-sm {
  font-family: var(--font-jost);
  font-weight: var(--font-weight-light);
  line-height: 70%;
  letter-spacing: 2px;
}

.label-lg {
  font-size: var(--font-size-xl);
}

.label-md {
  font-size: var(--font-size-lg);
}

.label-sm {
  font-size: var(--font-size-xs);
}

body[lang="ua"] .label-lg,
body[lang="ua"] .label-md,
body[lang="ua"] .label-sm {
  font-family: var(--font-roboto);
}

.transparent-wrapper {
  background-color: var(--transparent);
  border-radius: var(--border-radius);
}


/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
  .content {
    max-width: 1200px;
  }

  .header-lg {
    font-size: var(--font-size-xl);
  }

  .header-md {
    font-size: var(--font-size-lg);
  }

  .header-sm {
    font-size: var(--font-size-md);
  }


  .body-lg-l,
  .body-lg-r,
  .body-lg-i {
    font-size: var(--font-size-lg);
  }

  .body-md-l,
  .body-md-r,
  .body-md-i {
    font-size: var(--font-size-sm);
  }

  .body-sm-l,
  .body-sm-r,
  .body-sm-i {
    font-size: var(--font-size-xxs);
  }


  .label-lg {
    font-size: var(--font-size-lg);
  }

  .label-md {
    font-size: var(--font-size-md);
  }

  .label-sm {
    font-size: var(--font-size-xxs);
  }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {

  .content {
    margin: 0 var(--space-sm);
    max-width: unset;
  }

  .header-lg {
    font-size: var(--font-size-lg);
  }

  .header-md {
    font-size: var(--font-size-md);
  }

  .header-sm {
    font-size: var(--font-size-sm);
  }


  .body-lg-l,
  .body-lg-r,
  .body-lg-i {
    font-size: var(--font-size-md);
    letter-spacing: 1px !important;
  }

  .body-md-l,
  .body-md-r,
  .body-md-i {
    font-size: var(--font-size-xs);
    letter-spacing: 1px !important;
  }

  .body-sm-l,
  .body-sm-r,
  .body-sm-i {
    font-size: var(--font-size-xxs);
    letter-spacing: 1px !important;
  }


  .label-lg {
    font-size: var(--font-size-md);
    letter-spacing: 1px !important;
  }

  .label-md {
    font-size: var(--font-size-sm);
    letter-spacing: 1px !important;
  }

  .label-sm {
    font-size: var(--font-size-xxxs);
    letter-spacing: 1px !important;
  }
}

/*xs*/
@media (max-width: 767px) and (min-width: 320px) {

  .header-lg {
    font-size: var(--font-size-md);
  }

  .header-md {
    font-size: var(--font-size-sm);
  }

  .header-sm {
    font-size: var(--font-size-xs);
  }


  .body-lg-l,
  .body-lg-r,
  .body-lg-i {
    font-size: var(--font-size-sm);
    letter-spacing: 1px !important;
  }

  .body-md-l,
  .body-md-r,
  .body-md-i {
    font-size: var(--font-size-xxs);
    letter-spacing: 1px !important;
  }

  .body-sm-l,
  .body-sm-r,
  .body-sm-i {
    font-size: var(--font-size-xxxs);
    letter-spacing: 1px !important;
  }

  .label-lg {
    font-size: var(--font-size-sm);
    letter-spacing: 1px !important;
  }

  .label-md {
    font-size: var(--font-size-xs);
    letter-spacing: 1px !important;
  }

  .label-sm {
    font-size: var(--font-size-xxxs);
    letter-spacing: 1px !important;
  }

  .content {
    margin: 0 var(--space-sm);
    max-width: unset;
  }
}
