.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-sm) 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--space-xl);
}

.nav span {
    color: white;
    cursor: pointer;
    text-transform: lowercase;
}