.contentWrapper {
    padding-top: unset;
}

.header {
    max-width: 1650px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-sm) 0;
}

.menuLink {
    transition-duration: var(--base-transition);
    color: white;
    text-transform: lowercase;
}

.menuLink {
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.menuLink:hover {
    color: var(--primary1000);
}

.menuLink:active {
    color: var(--primary300);
}

.rightBlock {
    display: flex;
    flex-direction: row;
    gap: var(--space-xxs);
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--space-xl);
}

.nav span {
    color: white;
    cursor: pointer;
    text-transform: lowercase;
}

.logo {
    width: 60px;
    height: auto;
}

.logoWithName {
    width: 220px;
    height: auto;
    margin-top: var(--space-lg);
}

.sideMenu {
    top: 0;
    right: -350px;
    width: 350px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 5500;
    background: var(--primary1000);
    height: 100vh;
    gap: var(--space-xxxl);
    transition-duration: var(--base-transition);
}

.sideMenuNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-transform: lowercase;
    gap: var(--space-xs);
}

.burgerMenuIcon {
    display: none;
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
}

.crossMenuIcon {
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    left: var(--space-xs);
    top: var(--space-xs);
}

.sideMenuNavItem {
    display: flex;
    gap: var(--space-md);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: white;
}

.sideMenuNavItem:after {
    display: block;
    position: absolute;
    left: 0;
    top: 32px;
    width: 0;
    height: 1px;
    background-color: white;
    content: "";
    transition: width var(--base-transition) ease-out;
}

.sideMenuNavItem:hover:after,
.sideMenuNavItem:focus:after {
    width: 100%;
}

.blurLayer {
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 5000;
    backdrop-filter: blur(8px) brightness(105%);
    transition-duration: var(--base-transition);
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .header {
        max-width: 1200px;
    }

    .logo {
        width: 50px;
        height: 100%;
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: var(--space-xs) 0;
        max-width: 740px;
    }

    .nav {
        display: none;
    }

    .logo {
        width: 30px;
    }

    .burgerMenuIcon {
        display: block;
        cursor: pointer;
    }


    body .sideMenu.open {
        overflow: hidden;
        right: 0;
    }

    body .blurLayer.open {
        overflow: hidden;
        right: 0;
        transition-duration: 0.4s;
    }
}

/*xs*/
@media (max-width: 767px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: var(--space-xs);
        /*margin: 0 var(--space-sm);*/
        max-width: unset;
        min-width: 300px;
    }

    .nav {
        display: none;
    }

    .logo {
        width: 30px;
    }

    .burgerMenuIcon {
        display: block;
        cursor: pointer;
    }

    .sideMenu {
        right: -100vw;
        width: 100vw;
    }

    body .sideMenu.open {
        overflow: hidden;
        right: 0;
    }

    body .blurLayer.open {
        overflow: hidden;
        right: 0;
        transition-duration: 0.4s;
    }

}

