.contentWrapper {
    padding-bottom: var(--space-xxl);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-xxl);
}

.contentBlockWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xxl);
}

.imageBlockWrapper {
    position: relative;
}

.ellipse {}

.textBlockWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.imageWrapper {}

.iconBlockWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

.iconWrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
}

.icon {
    width: 36px;
    height: auto;
    color: var(--primary1000);
}

.ellipse {
    width: 660px;
    height: 660px;
    top: 220px;
    left: -550px;
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .content-wrapper {
        padding-bottom: var(--space-xl);
    }

    .content {
        gap: var(--space-lg);
    }

    .contentBlockWrapper {
        gap: var(--space-xl);
    }

    .textBlockWrapper {
        gap: var(--space-lg);
    }

    .textWrapper {
        gap: var(--space-md);
    }
    .ellipse {
        width: 500px;
        height: 500px;
        top: 220px;
        left: -350px;
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .content-wrapper {
        padding-bottom: var(--space-lg);
    }

    .content {
        gap: var(--space-lg);
    }

    .contentBlockWrapper {
        flex-direction: column;
        gap: var(--space-md);
    }

    .imageBlockWrapper {
        order: 1;
    }

    .textBlockWrapper {
        order: 2;
        align-items: center;
        gap: var(--space-md);
    }

    .textWrapper {
        text-align: center;
        gap: var(--space-sm);
    }

    .ellipse {
        width: 500px;
        height: 500px;
        top: 120px;
        left: 0px;
    }
}

/*xs*/
@media (max-width: 767px) {
    .content-wrapper {
        padding-bottom: var(--space-md);
    }

    .content {
        gap: var(--space-sm);
    }

    .contentBlockWrapper {
        flex-direction: column;
        gap: var(--space-sm);
    }

    .imageBlockWrapper {
        order: 1;
    }

    .textBlockWrapper {
        order: 2;
        align-items: center;
        gap: var(--space-sm);
    }

    .textWrapper {
        text-align: center;
        gap: var(--space-xs);
    }

    .iconWrapper {
        justify-content: center;
        gap: var(--space-xxs);
    }

    .icon {
        width: 20px;
    }

    .ellipse {
        filter: blur(60px);
        width: 200px;
        height: 200px;
        top: 100px;
        left: 50px;
    }
}