.contentWrapper {
    padding: var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

.textOverflow {
    height: 216px;
}

/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .text-overflow {
        height: 162px;
    }
}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .text-overflow {
        height: 144px;
    }
}

/*xs*/
@media (max-width: 767px) {
    .contentWrapper {
        padding: var(--space-xs);
        gap: var(--space-xxs);
    }

    .text-overflow {
        height: 126px;
    }
}