.contentWrapper {
    background: linear-gradient(white, var(--secondary100), var(--primary300));
    padding-bottom: var(--space-xxl);
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxl);
}

.collapseWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-md);
}


/*md*/
@media (max-width: 1727px) and (min-width: 1280px) {
    .content {
        gap: var(--space-lg);
    }

    .contentWrapper {
        padding-bottom: var(--space-lg);
    }

    .collapseWrapper {
        gap: var(--space-xs);
    }

}

/*sm*/
@media (max-width: 1279px) and (min-width: 768px) {
    .content {
        gap: var(--space-lg);
    }

    .contentWrapper {
        padding-bottom: var(--space-md);
    }

    .buttonWrapper {
        gap: var(--space-xs);
    }

    .collapseWrapper {
        gap: var(--space-xs);
    }
}

/*xs*/
@media (max-width: 767px) {
    .content {
        gap: var(--space-sm);
    }

    .contentWrapper {
        padding-bottom: var(--space-md);
    }

    .collapseWrapper {
        gap: var(--space-xs);
    }
}